asgiref
certifi
charset-normalizer
colorama
Django
facenet-pytorch
filelock
fsspec
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
Pillow==9.5.0
pygame
requests
sqlparse
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
